<div>
    <ul>
        <lu>
            <a id="navbar_home" href="#home" data-bind="click: onClickEventNavigation(0)">Home</a>
        </lu>
        <lu>
            <a id="navbar_popular" href="#popular" data-bind="click: onClickEventNavigation(1)">Popular</a>
        </lu>
        <lu>
            <a id="navbar_newMovies" href="#newMovies" data-bind="click: onClickEventNavigation(2)">New Movies</a>
        </lu>
        <lu>
            <a id="navbar_watchAgain" href="#watchAgain" data-bind="click: onClickEventNavigation(3)">Watch Again</a>
        </lu>
    </ul>
</div>