ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

lu {
    float: left;
}

lu a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}




.default {
    background-color: #333;
}

.active {
    background-color: red;
}